<h1>We found these vans for you:</h1>

<div>
  <% @vans.each do |van| %>
    <h3><%= van.title %></p>
    <p>Seats: <%= van.seats %></p>
    <p>Price: <%= van.price_per_day %> €/day</p>
    <%= link_to "More info", van_path(van)  %>
    <%= link_to "Edit", edit_van_path(van) %>
    <%= link_to "🗑", van_path(van), method: :delete %>
  <% end %>
</div>


