<div class="main-container">

  <div class="van-card-container">
      <% @vans.each do |van| %>
    <div class="van-card">
        <h3 class=title-in-card><%= van.title %></h3>
        <div style="background-image: url(<%= cloudinary_url(van.photo) %>);" class="card-image">
          <p class="seats">Seats: <%= van.seats %></p>
          <p class="price">Price: <%= van.price_per_day %> €/day</p>
          <div class = "more-into-link">
          <%= link_to "More info", van_path(van)  %>
          </div>
        </div>

        <!-- User can update a van if they created it -->
        <%# if policy(van).edit? %>
          <%#= link_to "Edit", edit_van_path(van) %>
        <%# end %>

        <!-- User can delete van if they created it -->
        <%# if policy(van).destroy? %>
          <%#= link_to "🗑", van_path(van), method: :delete %>
        <%# end %>
    </div>
      <% end %>

  </div>
  <div
    id="map"
    style="width:40%;
    height:100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>


