
<div class="main-show-container" style="background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.8)), url(<%= cl_image_path @van.photo, transformation: { effect: "blur:150" } %>); background-size: cover">

  <div class="show-container">

<!-- BACKBUTTON -->

    <!-- <div class="back-bttn-div">
        <%#= link_to "Back", vans_path, class: "back-bttn"  %>
    </div> -->


    <div class="huge-info-card">

     <div class="van-outer-box">

        <div class="van-title">
          <div>
            <h1 id="van-title"><%= @van.title %></h1>
            <h2 id="van-description">"<%= @van.description %>"</h2>
          </div>
          <div>
            <i class="fas fa-user-circle" id="renter-name" style="font-size: 33px;"></i>
            <p><%= @van.user.first_name %></p>
          </div>
        </div>

        <div class="van-info-box">

         <div class="info-div">
           <div class="icon">
             <i class="fas fa-search-location"></i>
           </div>
           <div><%= @van.location.split.last.upcase %></div>
         </div>

         <div class="info-div">
           <div class="icon">
             <i class="fas fa-users"></i>
           </div>
           <div><%= @van.seats %></div>
         </div>
         <div class="info-div">
           <div class="icon">
             <i class="fas fa-tag"></i>
           </div>
           <div>
             €
             <%= @van.price_per_day %><br>
           </div>
         </div>

         <div class="info-div">
           <div class="icon">
             <i class="fas fa-car"></i>
           </div>
           <div><%= @van.brand.upcase %></div>
         </div>

         <div class="info-div">
           <div class="icon">
             <i class="fas fa-question"></i>
           </div>
           <div><%= @van.category.split.first.upcase %></div>
         </div>



         <div class="info-div">
           <div class="icon">
             <i class="fas fa-star"></i>
           </div>
           <div><%= @van.reviews.size %></div>
         </div>


       </div>

         <div id="book-bttn-div">
            <a class="book-bttn" data-toggle="modal" data-target="#confirmBookingModal">BOOK</a>
            <%#= link_to "Book", new_van_booking_path(@van), class: "book-bttn"  %>
         </div>
      </div>

      <div class="img-box" style="background-image: url(<%= cl_image_path @van.photo %>)">
      </div>

    </div>
  <div id="reviews">

    <% if @van.reviews.blank? %>
      <h2>Be the first to leave a review for <%= @van.title %></h2>
    <% else %>
      <% @van.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>


  </div>

  <div>
    <%= render 'reviews/form', van: @van, review: @review %>

  </div>
  </div>

</div>





<!-- ADDING MODAL TO CONFIRM BOOKING -->
<%= render 'confirm_booking_modal', locals: {van: @van, booking: @booking} %>

<%#= link_to "Book this van", new_van_booking_path(@van)  %>
