<h1><%= @van.title %></h1>

<%= cl_image_tag @van.photo, width: 900, height: 400, crop: :fill %>

<ul>
  <li><%= @van.description %></li>
  <li><%= @van.location %></li>
  <li><%= @van.brand %></li>
  <li><%= @van.category %></li>
  <li>Seats: <%= @van.seats %></li>
  <li>Owner: <%= @van.user.first_name %></li>
  <li>Price: <%= @van.price_per_day %> €/day</li>
</ul>

<% @van.bookings.each do |booking| %>
<p>User: <%= booking.user.first_name %></p>
<% end %>


<!-- ADDING MODAL TO CONFIRM BOOKING -->
<%= render 'confirm_booking_modal', locals: {van: @van, booking: @booking} %>
<p class="xl-bttn" data-toggle="modal" data-target="#confirmBookingModal">BOOK THIS SHIT</p>

<%#= link_to "Book this van", new_van_booking_path(@van)  %>
