<!-- PREDENDER A MODAL FOR ALL BOOKINGS -->

<h1>My bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.van.title %> Price: <%= booking.van.price_per_day %>
      <a class="xl-bttn" data-toggle="modal" data-booking-id="<%= booking.id %>" data-target="<%= "#bookingDetailsModal#{booking.id}" %>">Details</a>
      <%= render partial: 'booking_details_modal', locals: { booking: booking } %>
      <%= link_to "Cancel Booking", delete_booking_path(booking), class: "xl-bttn", method: :delete %>
    </li>
  <% end %>
</ul>



