<!-- PREDENDER A MODAL FOR ALL BOOKINGS -->

<h1>My bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <%= render 'booking_details_modal', locals: { booking_id: booking.id } %>
    <li>
      <%= booking.van.title %> Price: <%= booking.van.price_per_day %>
      <a class="xl-bttn" data-toggle="modal" data-booking-id="<%= booking.id %>" data-target="<%= "#bookingDetailsModal#{booking.id}" %>">Details</a>
      <%= link_to "Cancel Booking", delete_booking_path(booking), method: :delete   %>
    </li>
  <% end %>
</ul>


