
<div class="wrapper">
  <% if user_signed_in? %>
    <!-- <p>Welcome, <%= current_user.first_name %></p> -->
    <%= link_to "Sign Out", destroy_user_session_path(@user), method: :delete  %>
    <%= link_to "Add Van", new_van_path  %>
  <div class="center">
      <div class="logo">
          <img src="<%= asset_path( 'logomove.gif' ) %>" />
      </div>

    <%= render 'vans/search_for_vans_form' %>

    </div>

  <% else %>
    <div class="center">
      <div class="logo">
          <img src="<%= asset_path( 'logomove.gif' ) %>" />
      </div>

      <%= link_to "MEMBER SIGN IN", new_user_session_path, class: "large-bttn"%>

      <%= link_to "SIGN UP FOR BETA", new_user_registration_path, class: "signup-link" %>
    </div>
  <% end %>
</div>
