<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

<!-- ## main-nav-bar -->
<div class="main-containter">
  <div class= "navbar-wrapper">
    <div class="navbar-float-left">
      <div class="small-logo"></div>
    </div>
    <div class="navbar-float-right">
      <div class="small-bttn">
        RENT YOUR VAN
      </div>
      <div class="small-bttn">
        CONTACT US
      </div>
      <div class="small-bttn">
        SIGN OUT
      </div>
    </div>
  </div>
</div>


    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
