<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

<!-- ## main-nav-bar -->
<% if user_signed_in? %>
  <div class="main-containter">
    <div class= "navbar-wrapper">
      <div class="navbar-float-left">
        <div class="small-logo"></div>
      </div>
      <div class="navbar-float-right">
        <a href="/vans/new">
          <div class="small-bttn">
            RENT YOUR VAN
          </div>
        </a>

        <div class="small-bttn">
          CONTACT US
        </div>

        <a href="/users/sign_out/<%=current_user.id%>">
        <div class="small-bttn">
          <%#= link_to "SIGN OUT", destroy_user_session_path(@user), method: :delete  %>
          SIGN OUT
        </div>
        </a>
      </div>
    </div>
  </div>
<% end %>


    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
